<div class="filter">
    <cnf-filter 
        [languages]="languages" 
        [types]="types" 
        [data]="filterData"
        (filterChange)="filterChange($event)"
    ></cnf-filter>
</div>
<div class="content">
    <cnf-cards class="content--card" [data]="element" *ngFor="let element of displayData"></cnf-cards>
</div>