.filter {
    height: 40px;
    line-height: 40px;
    display: flex;
    &-language,
    &-search,
    &-actions,
    &-types {
        margin-left: 5px;
    }

    &-input {
        min-width: 200px;
    }

    &-actions-button {
        padding: 7px 5px;
    }
}