<div class="filter">
    <div class="filter-language" *ngIf="languages">
        <ng-container *ngFor="let element of languages">
            <input 
                type="checkbox" 
                [checked]="data.languages.indexOf(element) !== -1"
                (change)="change('languages', element)"
            />
            <label>{{element.toUpperCase()}}</label>
        </ng-container>
    </div>
    <div class="filter-types" *ngIf="types">
        <ng-container *ngFor="let element of types">
            <input 
                type="checkbox"
                [checked]="data.types.indexOf(element) !== -1"
                (change)="change('types', element)"
            />
            <label>{{element.toUpperCase()}}</label>
        </ng-container>
    </div>
    <div class="filter-search">
        <input class="filter-search-input" [ngModel]="data.search" (ngModelChange)="change('search', $event)" type="text" />
    </div>
    <div class="filter-actions">
        <button class="filter-actions-button" (click)="change('reset')">reset filters</button>
    </div>
</div>